/.DS_Store
/*/.DS_Store
/client/Package.resolved
/client/.build
/client/sslTest.xcodeproj
/server/server.cert
/server/server.key
/server/node_modules
/server/server.der
/server/yarn.lock
/server/certs.zip
/server/server.csr
/server/server.p12
